<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<h1>Pizzas:</h1>
	<form>
		<label for="search">SEARCH</label>
		<input id="search" type="text" name="q" th:value="${q}">
		<input type="submit" value="SEARCH" > 		
	</form>
	<a href="/pizzas/create">Crea</a>
	<ul>
		<li th:each="pizza : ${pizzas}" th:object="${pizza}">
			<a th:href="@{/pizzas/{id}(id=${pizza.id})}">
				[[${pizza.nome}]] - [[${pizza.descrizione}]]
			</a>
		</li>
	</ul>
</body>

</html>